// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

body {
    * {
        &:focus, &.focus,
        &:active, &.active {
            outline: transparent none 0 !important;
            box-shadow: 0 0 0 0 rgba(0,123,255,0) !important;
            -webkit-box-shadow: none !important;
        }
    }
}
